:host {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
}

.left-nav {
  position: fixed;
  width: 400px;
  max-width: 20vw;
  min-width: 220px;
  top: 0;
  background: rgba(255, 255, 255, .9);
  height: 100%;
  padding: 5px;

  &.hidden {
    left: -150px;
  }

  mat-slider {
    width: 100%;
  }
}

